@*especifica o tipo de dados recebido pela view (a view é fortemente tipada)*@
@model LancheListViewModel

<div><h2>@Model.CategoriaAtual</h2></div>

<div class="row">
    @foreach (var lanche in Model.Lanches) /*Model é a propiedade que acessa o tipo*/
    {
        @*@Html.Partial("_LanchesResumo", lanche);*@

        <partial name="_lanchesResumo" for="@lanche" />
    }
</div>